[submodule "pack/plugins/opt/indentLine"]
	path = pack/plugins/opt/indentLine
	url = https://github.com/Yggdroot/indentLine
	branch = master
[submodule "pack/plugins/opt/onedark.vim"]
	path = pack/plugins/opt/onedark.vim
	url = https://github.com/joshdick/onedark.vim
	branch = master
[submodule "pack/plugins/opt/vim-polyglot"]
	path = pack/plugins/opt/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
	branch = master
[submodule "pack/plugins/opt/vim-ttcn"]
	path = pack/plugins/opt/vim-ttcn
	url = https://github.com/gustafj/vim-ttcn
	branch = master
[submodule "pack/plugins/opt/fzf.vim"]
	path = pack/plugins/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim
	branch = master
[submodule "pack/plugins/opt/vim-commentary"]
	path = pack/plugins/opt/vim-commentary
	url = https://github.com/tpope/vim-commentary
