[submodule "pack/plugins/opt/gustafj/vim-ttcn"]
	path = pack/plugins/opt/gustafj/vim-ttcn
	url = https://github.com/gustafj/vim-ttcn
[submodule "pack/plugins/opt/junegunn/fzf.vim"]
	path = pack/plugins/opt/junegunn/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/plugins/opt/sheerun/vim-polyglot"]
	path = pack/plugins/opt/sheerun/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "pack/plugins/opt/lukas-reineke/indent-blankline.nvim"]
	path = pack/plugins/opt/lukas-reineke/indent-blankline.nvim
	url = https://github.com/lukas-reineke/indent-blankline.nvim
[submodule "pack/plugins/opt/navarasu/onedark.nvim"]
	path = pack/plugins/opt/navarasu/onedark.nvim
	url = https://github.com/navarasu/onedark.nvim
[submodule "pack/plugins/opt/neovim/nvim-lspconfig"]
	path = pack/plugins/opt/neovim/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "pack/plugins/opt/nvim-treesitter/nvim-treesitter"]
	path = pack/plugins/opt/nvim-treesitter/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "pack/plugins/opt/nvim-treesitter/nvim-treesitter-textobjects"]
	path = pack/plugins/opt/nvim-treesitter/nvim-treesitter-textobjects
	url = https://github.com/nvim-treesitter/nvim-treesitter-textobjects
[submodule "pack/plugins/opt/lewis6991/gitsigns.nvim"]
	path = pack/plugins/opt/lewis6991/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule "pack/plugins/opt/p00f/nvim-ts-rainbow"]
	path = pack/plugins/opt/p00f/nvim-ts-rainbow
	url = https://github.com/p00f/nvim-ts-rainbow
[submodule "pack/plugins/opt/nvim-treesitter/playground"]
	path = pack/plugins/opt/nvim-treesitter/playground
	url = https://github.com/nvim-treesitter/playground
[submodule "pack/plugins/opt/chentoast/marks.nvim"]
	path = pack/plugins/opt/chentoast/marks.nvim
	url = https://github.com/chentoast/marks.nvim
[submodule "pack/plugins/opt/numToStr/Comment.nvim"]
	path = pack/plugins/opt/numToStr/Comment.nvim
	url = https://github.com/numToStr/Comment.nvim
